In [28]:
import pandas as pd
bookings = pd.read_csv("bookings.csv", sep=";")
bookings_head = bookings[:7]
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [3]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [68]:
#for name in column_names:
#    data = bookings.rename(columns={name: })
#pd.Series(['foo', 'fuz', np.nan]).str.replace('f.', 'ba', regex=True)
#pd.Series(name).str.replace(' ', '_', regex=True)
bookings = pd.read_csv("bookings.csv", sep=";")
ncol = []
for name in bookings.columns:
    lname = name.split(' ')
    new_name = lname[0] + '_'
    if len(lname) == 1:
            new_name=new_name[:-1]
    else:
        for i in range(len(lname)-1):
            new_name += lname[i+1] + '_'
        new_name=new_name[:-1]
    
    new_name = new_name.lower()
    ncol.append(new_name)
bookings.columns = ncol
bookings.head()

          hotel  is_canceled  lead_time  ... customer_type  reservation_status reservation_status_date
0  Resort Hotel            0        342  ...     Transient           Check-Out              2015-07-01
1  Resort Hotel            0        737  ...     Transient           Check-Out              2015-07-01
2  Resort Hotel            0          7  ...     Transient           Check-Out              2015-07-02
3  Resort Hotel            0         13  ...     Transient           Check-Out              2015-07-02
4  Resort Hotel            0         14  ...     Transient           Check-Out              2015-07-03

[5 rows x 21 columns]

In [4]:
bookings = pd.read_csv("bookings.csv", sep=";")
ncol = []
new_name = [column.lower().replace(' ','_') for column in bookings.columns]
bookings.columns=new_name
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [48]:
country_unique = []
for country in list(bookings['country']):
    if country not in country_unique:
        country_unique.append(country)
country_unique

['PRT',
 'GBR',
 'USA',
 'ESP',
 'IRL',
 'FRA',
 nan,
 'ROU',
 'NOR',
 'OMN',
 'ARG',
 'POL',
 'DEU',
 'BEL',
 'CHE',
 'CN',
 'GRC',
 'ITA',
 'NLD',
 'DNK',
 'RUS',
 'SWE',
 'AUS',
 'EST',
 'CZE',
 'BRA',
 'FIN',
 'MOZ',
 'BWA',
 'LUX',
 'SVN',
 'ALB',
 'IND',
 'CHN',
 'MEX',
 'MAR',
 'UKR',
 'SMR',
 'LVA',
 'PRI',
 'SRB',
 'CHL',
 'AUT',
 'BLR',
 'LTU',
 'TUR',
 'ZAF',
 'AGO',
 'ISR',
 'CYM',
 'ZMB',
 'CPV',
 'ZWE',
 'DZA',
 'KOR',
 'CRI',
 'HUN',
 'ARE',
 'TUN',
 'JAM',
 'HRV',
 'HKG',
 'IRN',
 'GEO',
 'AND',
 'GIB',
 'URY',
 'JEY',
 'CAF',
 'CYP',
 'COL',
 'GGY',
 'KWT',
 'NGA',
 'MDV',
 'VEN',
 'SVK',
 'FJI',
 'KAZ',
 'PAK',
 'IDN',
 'LBN',
 'PHL',
 'SEN',
 'SYC',
 'AZE',
 'BHR',
 'NZL',
 'THA',
 'DOM',
 'MKD',
 'MYS',
 'ARM',
 'JPN',
 'LKA',
 'CUB',
 'CMR',
 'BIH',
 'MUS',
 'COM',
 'SUR',
 'UGA',
 'BGR',
 'CIV',
 'JOR',
 'SYR',
 'SGP',
 'BDI',
 'SAU',
 'VNM',
 'PLW',
 'QAT',
 'EGY',
 'PER',
 'MLT',
 'MWI',
 'ECU',
 'MDG',
 'ISL',
 'UZB',
 'NPL',
 'BHS',
 'MAC',
 'TGO',
 'TWN',
 'DJI',
 'STP',
 'KNA',
 'ETH',
 'IRQ',
 'HND',
 'RWA',
 'KHM',
 'MCO',
 'BGD',
 'IMN',
 'TJK',
 'NIC',
 'BEN',
 'VGB',
 'TZA',
 'GAB',
 'GHA',
 'TMP',
 'GLP',
 'KEN',
 'LIE',
 'GNB',
 'MNE',
 'UMI',
 'MYT',
 'FRO',
 'MMR',
 'PAN',
 'BFA',
 'LBY',
 'MLI',
 'NAM',
 'BOL',
 'PRY',
 'BRB',
 'ABW',
 'AIA',
 'SLV',
 'DMA',
 'PYF',
 'GUY',
 'LCA',
 'ATA',
 'GTM',
 'ASM',
 'MRT',
 'NCL',
 'KIR',
 'SDN',
 'ATF',
 'SLE',
 'LAO']

In [70]:
 

bookings_country = [element for element in bookings['country'] if bookings['is_canceled'][j] == 0]
country_count = [bookings_country.count(element) for element in country_unique ]

country_count

[48590,
 12129,
 2097,
 8568,
 3375,
 10415,
 488,
 500,
 607,
 18,
 214,
 919,
 7287,
 2342,
 1730,
 1279,
 128,
 3766,
 2104,
 435,
 632,
 1024,
 426,
 83,
 171,
 2224,
 447,
 67,
 1,
 287,
 57,
 12,
 152,
 999,
 85,
 259,
 68,
 1,
 55,
 12,
 101,
 65,
 1263,
 26,
 81,
 248,
 80,
 362,
 669,
 1,
 2,
 24,
 4,
 103,
 133,
 19,
 230,
 51,
 39,
 6,
 100,
 29,
 83,
 22,
 7,
 18,
 32,
 8,
 5,
 51,
 71,
 3,
 16,
 34,
 12,
 26,
 65,
 1,
 19,
 14,
 35,
 31,
 40,
 11,
 2,
 17,
 5,
 74,
 59,
 14,
 10,
 28,
 8,
 197,
 7,
 8,
 10,
 13,
 7,
 2,
 5,
 2,
 75,
 6,
 21,
 3,
 39,
 1,
 48,
 8,
 1,
 15,
 32,
 29,
 18,
 2,
 27,
 1,
 57,
 4,
 1,
 1,
 16,
 2,
 51,
 1,
 2,
 2,
 3,
 14,
 1,
 2,
 2,
 4,
 12,
 2,
 9,
 1,
 3,
 1,
 5,
 4,
 4,
 3,
 2,
 6,
 3,
 9,
 5,
 1,
 2,
 5,
 1,
 9,
 1,
 8,
 1,
 1,
 10,
 4,
 4,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2]

In [50]:
country_count = [0] * len(country_unique)
for i in range(len(country_unique)):
    for j in range(len(bookings)):
        if bookings['country'][j] == country_unique[i] and bookings['is_canceled'][j] == 0:
            country_count[i] += 1
country_count

[21071,
 9676,
 1596,
 6391,
 2543,
 8481,
 0,
 366,
 426,
 14,
 160,
 704,
 6069,
 1868,
 1302,
 1025,
 93,
 2433,
 1717,
 326,
 393,
 797,
 319,
 65,
 134,
 1394,
 378,
 48,
 1,
 178,
 42,
 10,
 117,
 537,
 75,
 150,
 48,
 1,
 46,
 10,
 98,
 49,
 1033,
 17,
 74,
 146,
 49,
 157,
 500,
 1,
 1,
 12,
 2,
 82,
 78,
 18,
 153,
 8,
 20,
 6,
 75,
 3,
 60,
 7,
 2,
 7,
 23,
 0,
 5,
 40,
 48,
 0,
 10,
 13,
 3,
 14,
 41,
 0,
 14,
 5,
 11,
 22,
 15,
 3,
 1,
 8,
 1,
 68,
 41,
 6,
 8,
 25,
 6,
 169,
 7,
 8,
 10,
 10,
 6,
 2,
 5,
 2,
 63,
 4,
 18,
 3,
 23,
 1,
 15,
 6,
 1,
 4,
 21,
 23,
 13,
 2,
 19,
 1,
 53,
 2,
 1,
 1,
 1,
 2,
 37,
 1,
 2,
 2,
 2,
 14,
 0,
 2,
 0,
 3,
 3,
 0,
 1,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 0,
 4,
 2,
 8,
 3,
 0,
 0,
 1,
 1,
 9,
 1,
 8,
 1,
 1,
 10,
 4,
 4,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2]

In [71]:
bookings.loc[bookings['is_canceled'] == 0].country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [92]:

N = len(country_unique)
for i in range(N-1):
    for j in range(N-i-1):
        if country_count[j] > country_count[j+1]:
            country_count[j], country_count[j+1] = country_count[j+1], country_count[j]
            country_unique[j], country_unique[j+1] = country_unique[j+1], country_unique[j]
print(country_unique)

['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN', 'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD', 'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ', 'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR', 'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR', 'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR', 'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO', 'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT', 'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN', 'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD', 'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM', 'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU', 'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG', 'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP', 'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN', 'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP', 'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN', 'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA', 'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT', 'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO']

In [101]:
city_hotel_count = 0
city_hotel = 0

for i in range(len(bookings)):
    if bookings['hotel'][i] == 'City Hotel':# and bookings['is_canceled'][i] == 0:
        city_hotel += bookings['stays_total_nights'][i]
        city_hotel_count += 1


city_hotel_avg = city_hotel/city_hotel_count
round(city_hotel_avg, 2)

2.98

In [100]:
resort_hotel_count = 0
resort_hotel = 0

for i in range(len(bookings)):
    if bookings['hotel'][i] == 'Resort Hotel':# and bookings['is_canceled'][i] == 0:
        resort_hotel += bookings['stays_total_nights'][i]
        resort_hotel_count += 1


resort_hotel_avg = resort_hotel/resort_hotel_count
round(resort_hotel_avg, 2)

4.32

In [93]:
hotels_unique = set(bookings['hotel'])
hotels_unique

{'City Hotel', 'Resort Hotel'}

In [103]:
diff = 0
for i in range(len(bookings)):
    if bookings['reserved_room_type'][i] != bookings['assigned_room_type'][i]:
        diff += 1
diff

14917

In [105]:
months = set(bookings['arrival_date_month'])

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [76]:
bookings.loc[bookings['arrival_date_year'] == 2016].arrival_date_month.value_counts().head(5)

October      6203
May          5478
April        5428
September    5394
June         5292
Name: arrival_date_month, dtype: int64

In [77]:
bookings.loc[bookings['arrival_date_year'] == 2017].arrival_date_month.value_counts().head(5)

May      6313
April    5661
June     5647
July     5313
March    4970
Name: arrival_date_month, dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :) Например:

df.groupby('column_1')['column_2'].what_to_do()

In [103]:
bookings.loc[bookings['hotel'] == 'City Hotel'].groupby(['arrival_date_year']).is_canceled.mean()

arrival_date_year
2015    0.438825
2016    0.403959
2017    0.425004
Name: is_canceled, dtype: float64

In [16]:
df = bookings.loc[bookings['hotel'] == 'City Hotel']

{'City Hotel'}

In [18]:
[df.loc[df['arrival_date_year'] == 2015 + i].groupby(['arrival_date_month'])\
             .is_canceled.sum() for i in range(3)]

[arrival_date_month
 August       1232
 December      668
 July          939
 November      301
 October      1321
 September    1543
 Name: is_canceled, dtype: int64,
 arrival_date_month
 April        1539
 August       1247
 December     1072
 February      930
 January       438
 July         1043
 June         1720
 March        1108
 May          1436
 November     1360
 October      1947
 September    1567
 Name: is_canceled, dtype: int64,
 arrival_date_month
 April       1926
 August      1123
 February     971
 January     1044
 July        1324
 June        1808
 March       1278
 May         2217
 Name: is_canceled, dtype: int64]

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [33]:
bookings[['adults']].mean()

KeyError: "None of [Index(['adults'], dtype='object')] are in the [columns]"