In [1]:
import pandas as pd
bookings = pd.read_csv("bookings.csv", sep=";")
bookings_head = bookings[:7]
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [2]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [3]:
#Приведем столбцы таблицы к более удобному виду
ncol = []
for name in bookings.columns:
    lname = name.split(' ')
    new_name = lname[0] + '_'
    if len(lname) == 1:
            new_name=new_name[:-1]
    else:
        for i in range(len(lname)-1):
            new_name += lname[i+1] + '_'
        new_name=new_name[:-1]
    
    new_name = new_name.lower()
    ncol.append(new_name)
bookings.columns = ncol
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
#Теперь то же самое с использованием средств pandas
bookings = pd.read_csv("bookings.csv", sep=";")
ncol = []
new_name = [column.lower().replace(' ','_') for column in bookings.columns]
bookings.columns=new_name
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [5]:
country_unique = []
for country in list(bookings['country']):
    if country not in country_unique:
        country_unique.append(country)

In [6]:
#Найдем страны лидеры по числу успешных бронирований
bookings.loc[bookings['is_canceled'] == 0].country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [7]:
hotels_unique = set(bookings['hotel'])
hotels_unique

{'City Hotel', 'Resort Hotel'}

In [8]:
#Среднее число ночей в отеле типа city hotel
city_hotel_count = 0
city_hotel = 0

for i in range(len(bookings)):
    if bookings['hotel'][i] == 'City Hotel':# and bookings['is_canceled'][i] == 0:
        city_hotel += bookings['stays_total_nights'][i]
        city_hotel_count += 1


city_hotel_avg = city_hotel/city_hotel_count
round(city_hotel_avg, 2)

2.98

In [9]:
#Среднее число ночей в отеле типа resort hotel
resort_hotel_count = 0
resort_hotel = 0

for i in range(len(bookings)):
    if bookings['hotel'][i] == 'Resort Hotel':# and bookings['is_canceled'][i] == 0:
        resort_hotel += bookings['stays_total_nights'][i]
        resort_hotel_count += 1


resort_hotel_avg = resort_hotel/resort_hotel_count
round(resort_hotel_avg, 2)

4.32

In [10]:
#Найдем в скольки случаях тип фактически присвоенной комнаты отличался от изначально забронированной
diff = 0
for i in range(len(bookings)):
    if bookings['reserved_room_type'][i] != bookings['assigned_room_type'][i]:
        diff += 1
diff

14917

In [11]:
months = set(bookings['arrival_date_month'])

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [12]:
bookings.loc[bookings['arrival_date_year'] == 2016].arrival_date_month.value_counts().head(5)

October      6203
May          5478
April        5428
September    5394
June         5292
Name: arrival_date_month, dtype: int64

In [13]:
bookings.loc[bookings['arrival_date_year'] == 2017].arrival_date_month.value_counts().head(5)

May      6313
April    5661
June     5647
July     5313
March    4970
Name: arrival_date_month, dtype: int64

Сгруппируем данные по годам, а затем проверим, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [14]:
bookings.loc[bookings['hotel'] == 'City Hotel'].groupby(['arrival_date_year']).is_canceled.mean()

arrival_date_year
2015    0.438825
2016    0.403959
2017    0.425004
Name: is_canceled, dtype: float64

In [15]:
df = bookings.loc[bookings['hotel'] == 'City Hotel']

In [16]:
[df.loc[df['arrival_date_year'] == 2015 + i].groupby(['arrival_date_month'])\
             .is_canceled.sum() for i in range(3)]

[arrival_date_month
 August       1232
 December      668
 July          939
 November      301
 October      1321
 September    1543
 Name: is_canceled, dtype: int64,
 arrival_date_month
 April        1539
 August       1247
 December     1072
 February      930
 January       438
 July         1043
 June         1720
 March        1108
 May          1436
 November     1360
 October      1947
 September    1567
 Name: is_canceled, dtype: int64,
 arrival_date_month
 April       1926
 August      1123
 February     971
 January     1044
 July        1324
 June        1808
 March       1278
 May         2217
 Name: is_canceled, dtype: int64]

Посмотрим на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [17]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создадим колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [18]:
bookings['total_kids'] = bookings['children'] + bookings['babies']
city_avg = bookings.loc[bookings['hotel'] == 'City Hotel']['total_kids'].mean()
resort_avg = bookings.loc[bookings['hotel'] == 'Resort Hotel']['total_kids'].mean()
if resort_avg > city_avg:
    print('Для отелей типа Resort среднее количесво детей выше:', round(resort_avg, 2))
else:
    print('Для отелей типа City среднее количесво детей выше:', round(city_avg, 2))

Для отелей типа Resort среднее количесво детей выше: 0.14

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создадим переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверим, среди какой группы пользователей показатель оттока выше.

In [19]:
bookings['has_kids'] = bookings['total_kids'] > 0
churn_rate_kids = bookings.loc[bookings['has_kids'] == True]['is_canceled'].mean()
churn_rate = bookings.loc[bookings['has_kids'] == False]['is_canceled'].mean()
if churn_rate_kids > churn_rate:
    print('Отток клиентов с детьми выше', round(churn_rate_kids, 2))
else:
    print('Отток клиентов без детей выше', round(churn_rate, 2))

Отток клиентов без детей выше 0.37